@charset "utf-8";

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

span {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

#header, #content , #footer {
	width: 100%;
	margin: 0px auto;
	border:0px solid green;
}

/******************************  top banner  ********************************/

.topbannerWord {
	text-align: center;
	width: 100%;
	background: #3cf;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}

/******************************  detail list  ********************************/

.detailBox {
	border-width: 1px 0 1px 0;
	background-color: #fff;
	margin-bottom: 12px;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}

.orderdetailContentTable {
    margin-left: 1%;
    width: 98%;
    border: 1px solid #ddd;
}

.orderdetailContentTable tr {
	height: 25px;
}

.orderdetailContentTable tr, .orderdetailContentTable td,.orderdetailContentTable th {
    font-size: 14px;
    padding: 5px 5px ;
}

.orderdetailContentTable th {
	font-weight: normal;
	width: 80px;
}

.orderdetailPlace li {
	font-size: 14px;
}

.orderdetailDate {
    color: #f60;
}

.orderdetailPrice{
	color: #f60;
}

.detailPriceBox {
	border-width: 1px 0 1px 0;
	background-color: #fff;
	margin-bottom: 12px;
	width: 100%;
	overflow: hidden;
	margin-top: -8px;
}

.infoBox {
	width:98%;
	margin:0px auto;
}

.showInfo {
	width:160px;
	padding:0px 10px;
	font-size:20px;
	color:#f60;
	font-weight:bold;
	margin:0px auto;
}

/******************************  confirm btn  ********************************/
.confirmOrder {
	margin: 0px auto;
	margin-top: 20px;
	width: 140px;
}

.confirmOrder .confirmBtn a {
	font-size: 15px;
	padding: 4px 20px;
	color: #3cf;
	border: 1px solid #3cf;	
}