@charset "utf-8";

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, "微软雅黑"; 
    font-size: 12px;
}


/********************* order detail **********************/

.orderdetail { 
    width: 1000px;
    margin:0px auto;
    margin-top: 5px;

}

.orderdetailBox {
    width: 1000px;
    margin: 0px auto;
    margin-top: 10px;
}

.orderdetailTitle {
    color: #39c;
    font-size: 18px;
    font-family: "微软雅黑";
    width: 130px;
    height: 40px;
    background-color: #f6f6f6;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ddd;
}

.orderdetailContentBox {
    border: 1px solid #ddd;
    color: #666;
    padding-bottom: 20px;

}

.orderdetailName {
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    padding-left: 40px;
    line-height: 40px;
}

.orderdetailContentTable {
    margin-left: 40px;

}

.orderdetailContentTable tr {
    line-height: 30px;
}

.orderdetailContentTable tr, .orderdetailContentTable td,.orderdetailContentTable th {
    font-size: 14px;
}

.orderdetailDate {
    color: rgb(250,78,0);
}

.orderdetailPlace li {
    min-width: 200px;
    float: left;
    margin-right: 10px;
    border: 1px solid #39c;
    height: 25px;
    text-align: center;
    color: #39c;
    font-size: 14px;
}

.orderdetailPrice {
    height: 40px;
    font-size: 18px;
    margin-left: 40px;
    line-height: 40px;
    margin-top: 10px;
}

.orderdetailPrice span {
    color: rgb(250,78,0);
    font-size: 22px;
    font-weight: bold;
    padding:0px 5px;
}

.orderdetailPay {
    width: 998px;
    height: 60px;
    float: right;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
}

.orderdetailTotal span {
    color: rgb(250,78,0);
    font-size: 22px;
    font-weight: bold;
    padding:0px 5px;
}

.orderdetailTotal {
    padding-top: 15px;
    float: right;
    font-size: 18px;
    margin:2px auto;
    margin-right: 60px;
    color: #666;

}

.orderdetailBtn {
    margin-top: 10px;
    float: right;
    width: 100px;
    height: 40px;
    margin-right: 70px;
}

.orderdetailBtn a {
    font-family: "微软雅黑";
    font-size: 15px;
    color: #fff;
    padding: 10px 30px;
    background-color: #39c;
	line-height:40px;
}


/********************        进度条       ******************/

.orderdetailState {
    width: 1000px;
    height: 30px;
    margin:0px auto;
    padding-bottom: 5px;
}

.orderdetailState ul li {
    float: left;
    width: 150px;
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.orderdetailStateOne {
    margin-left: 15px;
}

.orderdetailStateTwo {
    margin-left: 145px;
}

.orderdetailStateThree {
    margin-left: 145px;
}

.orderdetailState .orderdetailStateFour {
    width: 60px;
    text-align: right;
    margin-left: 153px;
}

#progressBar{
    width: 900px;
    height: 20px;
    position: relative;
    margin:0px auto;
}
#progressBar div{
    width: 100%;
    height: 3px;
    position: absolute;
    top:50%;
    left: 0;
    margin-top:-11px;
    border:1px solid #ddd;
    background: #ccc;
}
#progressBar div span{
    position: absolute;
    display: inline-block;
    background: #39c;
    height: 4px;
    width: 67%;
}
#progressBar>span{
    position: absolute;
    top:0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border:2px solid #ddd;
    border-radius: 50%;
    background: #39c;
    margin-left: -20px;
    color:#fff;
}
#progressBar .spanOne{
    left: 0%;

}

#progressBar .spanTwo{
    left: 33%;
}

#progressBar .spanThree{
    left: 67%;
}

#progressBar .spanFour{
    left: 100%;
    background:#ccc;
}

/******************* pay style  *********************/

.orderdetailSelectPay {
    height: 60px;
    margin-left: 40px;
}

.orderdetailSelectPay ul li {
    float: left;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: "微软雅黑";
    margin-right: 10px;
}

.orderdetailPayStyle {
    width: 200px;
}


.orderdetailPayPic img{
    width: 160px;
    height: 50px;
    margin-left: 5px;
}

.orderdetailPayBtn input {
    width: 20px;
    height: 20px;
}

.orderdetailPayBtn {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 16px;
}

.orderdetailPayPic {
    float: left;
}


/***********************  countdown **************************/

.orderdetailCountdown {
    float: left;
    color: #666;
    font-size: 18px;
    width: 300px;
    height: 40px;
    line-height: 18px;
    margin:10px 0px;
    margin-left: 100px;
}

.orderdetailCountdown input {
    width: 30px;
    border: none;
    background: #f6f6f6;
    padding: 5px 0px;
    color: rgb(250,78,0);
    font-weight: bold;
    font-size: 30px;
}